@import "@/styles/colors.scss";

.EventType {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  padding: 4px 8px;
  clip-path: polygon(22% 0, 100% 0, 100% 95%, 78% 100%, 0 100%, 0 5%);
  margin-bottom: 16px;

  &.mustard {
    background-color: $mustard_1000;
  }

  &.orange {
    background-color: $orange_1000;
  }

  &.sage {
    background-color: $sage_1000;
  }

  &.aqua {
    background-color: $aqua_1000;
  }

  .Icon {
    display: flex;

    img {
      filter: brightness(0%);
    }
  }
}