@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.Pagination {
  padding: 0;
  border-radius: 0;
  justify-content: right;

  // Mobile
  @media (max-width: $sm) {
    justify-content: center;
  }

  .Ellipsis {
    :global .page-link {
      &:hover {
        border: 1px solid transparent !important;
      }
    }
  }

  :global .page-item {
    min-width: 48px;
    text-align: center;

    // Mobile
    @media (max-width: $sm) {
      min-width: 36px;
    }

    &.disabled {
      .page-link {
        color: $neutral_400;
        background-color: #FFF;
      }
    }

    &.active {
      .page-link {
        color: $neutral_100;
        background-color: $neutral_1000;

        &:hover {
          background-color: $neutral_1000;
        }
      }
    }

    .page-link {
      border: 1px solid transparent;
      color: $neutral_1000;
      height: 48px;
      line-height: 36px;
      transition: unset;

      // Mobile
      @media (max-width: $sm) {
        height: 36px;
        line-height: 28px;
      }

      &:focus {
        box-shadow: unset;
      }

      &:hover {
        border: 1px solid $neutral_1000;
        background-color: #FFF;
      }
    }
  }
}