@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.Pagination {
  display: flex;
  padding: 0;
  border-radius: 0;
  justify-content: right;
  align-items: center;
  margin-bottom: 8px;

  // Mobile
  @media (max-width: $sm) {
    justify-content: center;
  }

  .PageInfo {
    width: 140px;
    text-align: center;
    user-select: none;
  }
}