@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.Wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  width: 810px;
  height: 515px;
  gap: 26px;

  .Top {
    flex: 1;

    img {
      display: flex;
      width: 100%;
    }
  }

  .Bottom {
    display: flex;
    gap: 26px;
    overflow: hidden;

    .Left {

      img {
        width: 110px;
        height: 80px;
      }
    }

    .Right {
      img {
        width: 516px;
        height: 244px;
      }
    }
  }
}