@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.Wrapper {
  display: flex;
  margin-left: 130px;
  width: 787px;
  height: 787px;
  gap: 26px;

  .Left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 26px;

    .Top {
      div {
        display: flex;
      }

      img {
        width: 245px;
        height: 245px;
      }
    }

    .Bottom {
      img {
        width: 245px;
        height: 245px;
      }
    }
  }

  .Middle {
    display: flex;
    align-items: flex-end;

    img {
      width: 245px;
      height: 516px;
    }
  }

  .Right {
    img {
      width: 245px;
      height: 245px;
    }
  }
}