@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.Wrapper {
  display: flex;
  margin-left: 130px;
  width: 783px;
  height: 655px;
  gap: 26px;
  align-items: flex-end;

  .Left {
    display: flex;
    flex-direction: column;
    gap: 26px;

    .Top {
      display: flex;

      img {
        width: 243px;
        height: 243px;
      }
    }

    .Bottom {
      display: flex;

      img {
        width: 311px;
        height: 243px;
      }
    }
  }

  .Right {
    position: absolute;
    top: -12px;
    left: 408px;

    img {
      width: 513px;
      height: 526px;
    }
  }
}