@import "@/styles/colors.scss";

.InputBase {
  :global .form-control {
    height: 48px;
    border: unset;
    border-radius: 0;
    padding: 12px 16px;
    border-bottom: 1px solid $neutral_1000;

    &:focus {
      box-shadow: unset;
    }

    &::placeholder {
      color: $neutral-500;
    }
  }
}

.Input {
  @extend .InputBase
}