@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.FooterContainer {
  background-color: $neutral_1000;

  .FooterWrapper {
    display: flex;
    align-items: center;
    padding: 24px;

    :global .container {
      padding: 0 84px;
    }

    .InfoWrapperLeft {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .Label {
        color: #FFFFFF;
        width: 110px;
      }

      .Info {
        flex: 1;
        color: $neutral_300;
      }
    }

    .InfoWrapperRight {
      display: flex;
      flex-direction: column;
      padding-left: 50px;

      @media (max-width: $sm) {
        padding-left: unset;
      }

      .Label {
        color: #FFFFFF;
        width: 110px;
      }

      .Links {
        color: $neutral_300;

        ul {
          padding: 0;
          list-style: none;
          margin-bottom: 0;
        }
      }
    }

    .SocialIcons {
      display: flex;
      gap: 16px;
      padding-left: unset;

      a {
        width: 16px;
        height: 16px;
        display: flex;
      }
    }

    .CEULogo {
      width: 170px;
    }
  }
}