@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.HeaderWrapper {
  display: flex;
  align-items: center;
  height: $header-height-desktop;
  background-color: #FFF;
  padding: 0 24px;

  :global .container {
    padding: 24px;
  }

  .Logo {
    flex: 1;
    align-self: center;
    display: flex;
    align-items: center;
  }

  .Search {
    flex: 1;
    justify-content: right;
  }

  .LanguageSelector {
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }

  .MenuButton {
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }
}