@import "@/styles/variables.scss";

.HeaderWrapper {
  padding: calc($header-height-desktop/3) 0;
  height: $header-height-desktop;
  border-bottom: 1px solid $line-color;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #FFF;
  z-index: 2;

  .HeaderRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Logo {
      width: 300px;
      padding-left: 20px;
    }

    .LanguageSelector {
      display: flex;
      width: 100px;
      gap: 5px;
      font-size: 16px;

      a {
        text-decoration: unset;
        color: inherit;
      }
    }
  }
}