.MaskedImageBase {
  width: 100%;
  position: relative;

  img {
    clip-path: polygon(22% 0, 100% 0, 100% 95%, 78% 100%, 0 100%, 0 5%);
  }
}

.Landscape {
  @extend .MaskedImageBase;
  aspect-ratio: 4 / 3;
}

.Portrait {
  @extend .MaskedImageBase;
  aspect-ratio: 3 / 4;
}

.Hero {
  @extend .MaskedImageBase;
  aspect-ratio: 2 / 1;
}