@import "@/styles/colors.scss";

.Button {
  display: inline-block;

  :global .btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-suisseIntlRegular);
    color: $neutral_1000;
    border-radius: 0;
  }

  :global .btn-md {
    padding: 0 24px;
    height: 40px;
    line-height: 40px;
  }

  :global .btn-lg {
    padding: 0 24px;
    height: 48px;
    line-height: 48px;
  }

  &.Icon {
    display: flex;
    align-items: center;

    :global .btn-md {
      padding: 0;
      height: 40px;
      width: 40px;

      img {
        width: 100%;
      }
    }

    :global .btn-lg {
      padding: 0;
      height: 48px;
      width: 48px;

      img {
        width: 100%;
      }
    }
  }

  /* Neutral */
  :global .btn-primary-neutral {
    color: #FFFFFF;
    border: unset;
    background-color: $neutral_1000;

    img {
      filter: brightness(0) invert(1);
    }

    &:hover {
      background-color: $neutral_600;
    }

    &:active {
      background-color: $neutral_1000;
    }

    &:focus {
      background-color: $neutral_600;
    }

    &:disabled {
      img {
        filter: unset;
      }

      background-color: $neutral_100;
      color: $neutral_500;
    }
  }

  :global .btn-secondary-neutral {
    border: 1px solid $neutral_1000;

    &:hover {
      color: $neutral_1000;
      background-color: $neutral_100;
    }

    &:active {
      color: $neutral_1000;
      background-color: $neutral_1000;
    }

    &:focus {
      color: $neutral_100;
      background-color: $neutral_100;
    }

    &:disabled {
      color: $neutral_300;
      border-color: $neutral_300;
      color: $neutral_300;
    }
  }

  :global .btn-tertiary-neutral {
    color: $neutral_1000;
    font-family: var(--font-suisseIntlSemiBold);
    border: unset;

    &:hover {
      color: $neutral_600;
    }

    &:active {
      color: $neutral_1000;
    }

    &:focus {
      color: $neutral_600;
    }

    &:disabled {
      color: $neutral_600;
    }
  }

  /* Mustard */
  :global .btn-primary-mustard {
    border: unset;
    background-color: $mustard_1000;

    &:hover {
      background-color: $mustard_600;
    }

    &:active {
      background-color: $mustard_1000;
    }

    &:focus {
      background-color: $mustard_600;
    }

    &:disabled {
      background-color: $neutral_100;
      color: $neutral_500;
    }
  }

  :global .btn-primary-mustard {
    border: unset;
    background-color: $mustard_1000;

    &:hover {
      background-color: $mustard_600;
    }

    &:active {
      background-color: $mustard_1000;
    }

    &:focus {
      background-color: $mustard_600;
    }

    &:disabled {
      background-color: $neutral_100;
      color: $neutral_500;
    }
  }

  :global .btn-secondary-mustard {
    border: 1px solid $neutral_1000;

    &:hover {
      color: $mustard_1000;
      border-color: $mustard_1000;
    }

    &:active {
      color: $neutral_1000;
      border-color: $neutral_1000;
    }

    &:focus {
      color: $mustard_1000;
      border-color: $mustard_1000;
    }

    &:disabled {
      border-color: $neutral_300;
      color: $neutral_300;
    }
  }

  :global .btn-tertiary-mustard {
    color: $mustard_1000;
    font-family: var(--font-suisseIntlSemiBold);
    border: unset;

    &:hover {
      color: $mustard_600;
    }

    &:active {
      color: $mustard_1000;
    }

    &:focus {
      color: $mustard_600;
    }

    &:disabled {
      color: $neutral_600;
    }
  }

  /* Orange */
  :global .btn-primary-orange {
    border: unset;
    background-color: $orange_1000;

    &:hover {
      background-color: $orange_600;
    }

    &:active {
      background-color: $orange_1000;
    }

    &:focus {
      background-color: $orange_600;
    }

    &:disabled {
      background-color: $neutral_100;
      color: $neutral_500;
    }
  }

  :global .btn-primary-orange {
    border: unset;
    background-color: $orange_1000;

    &:hover {
      background-color: $orange_600;
    }

    &:active {
      background-color: $orange_1000;
    }

    &:focus {
      background-color: $orange_600;
    }

    &:disabled {
      background-color: $neutral_100;
      color: $neutral_500;
    }
  }

  :global .btn-secondary-orange {
    border: 1px solid $neutral_1000;

    &:hover {
      color: $orange_1000;
      border-color: $orange_1000;
    }

    &:active {
      color: $neutral_1000;
      border-color: $neutral_1000;
    }

    &:focus {
      color: $orange_1000;
      border-color: $orange_1000;
    }

    &:disabled {
      border-color: $neutral_300;
      color: $neutral_300;
    }
  }

  :global .btn-tertiary-orange {
    color: $orange_1000;
    font-family: var(--font-suisseIntlSemiBold);
    border: unset;

    &:hover {
      color: $orange_600;
    }

    &:active {
      color: $orange_1000;
    }

    &:focus {
      color: $orange_600;
    }

    &:disabled {
      color: $neutral_600;
    }
  }

  /* Aqua */
  :global .btn-primary-aqua {
    border: unset;
    background-color: $aqua_1000;

    &:hover {
      background-color: $aqua_600;
    }

    &:active {
      background-color: $aqua_1000;
    }

    &:focus {
      background-color: $aqua_600;
    }

    &:disabled {
      background-color: $neutral_100;
      color: $neutral_500;
    }
  }

  :global .btn-primary-aqua {
    border: unset;
    background-color: $aqua_1000;

    &:hover {
      background-color: $aqua_600;
    }

    &:active {
      background-color: $aqua_1000;
    }

    &:focus {
      background-color: $aqua_600;
    }

    &:disabled {
      background-color: $neutral_100;
      color: $neutral_500;
    }
  }

  :global .btn-secondary-aqua {
    border: 1px solid $neutral_1000;

    &:hover {
      color: $aqua_1000;
      border-color: $aqua_1000;
    }

    &:active {
      color: $neutral_1000;
      border-color: $neutral_1000;
    }

    &:focus {
      color: $aqua_1000;
      border-color: $aqua_1000;
    }

    &:disabled {
      border-color: $neutral_300;
      color: $neutral_300;
    }
  }

  :global .btn-tertiary-aqua {
    color: $aqua_1000;
    font-family: var(--font-suisseIntlSemiBold);
    border: unset;

    &:hover {
      color: $aqua_600;
    }

    &:active {
      color: $aqua_1000;
    }

    &:focus {
      color: $aqua_600;
    }

    &:disabled {
      color: $neutral_600;
    }
  }

  /* Sage */
  :global .btn-primary-sage {
    border: unset;
    background-color: $sage_1000;

    &:hover {
      background-color: $sage_600;
    }

    &:active {
      background-color: $sage_1000;
    }

    &:focus {
      background-color: $sage_600;
    }

    &:disabled {
      background-color: $neutral_100;
      color: $neutral_500;
    }
  }

  :global .btn-primary-sage {
    border: unset;
    background-color: $sage_1000;

    &:hover {
      background-color: $sage_600;
    }

    &:active {
      background-color: $sage_1000;
    }

    &:focus {
      background-color: $sage_600;
    }

    &:disabled {
      background-color: $neutral_100;
      color: $neutral_500;
    }
  }

  :global .btn-secondary-sage {
    border: 1px solid $neutral_1000;

    &:hover {
      color: $sage_1000;
      border-color: $sage_1000;
    }

    &:active {
      color: $neutral_1000;
      border-color: $neutral_1000;
    }

    &:focus {
      color: $sage_1000;
      border-color: $sage_1000;
    }

    &:disabled {
      border-color: $neutral_300;
      color: $neutral_300;
    }
  }

  :global .btn-tertiary-sage {
    color: $sage_1000;
    font-family: var(--font-suisseIntlSemiBold);
    border: unset;

    &:hover {
      color: $sage_600;
    }

    &:active {
      color: $sage_1000;
    }

    &:focus {
      color: $sage_600;
    }

    &:disabled {
      color: $neutral_600;
    }
  }
}