@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.Page {
  // Mobile
  @media (max-width: $md) {
    margin-right: 0;

    :global .row {
      --bs-gutter-x: 24px !important;
    }

    :global .container {
      padding: 0 24px !important;
    }
  }

  margin-top: $header-height-desktop;
  margin-right: calc(4 * $menu-width - 4px);
  min-height: calc(100vh - $header-height-desktop);
  margin-bottom: 48px;

  :global .container {
    padding: 0 84px;
  }

  .DropdownFiltersWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    height: 40px;

    // Tablet
    @media (max-width: $md) {
      margin-top: 16px;
      justify-content: flex-start;
    }

    // Mobile
    @media (max-width: $sm) {
      flex-wrap: wrap;
      flex-direction: column;
    }

    .DropdownFilter {
      align-self: flex-start;
    }
  }

  .ProgramHeaderRow {
    align-items: center;
    height: 80px;
    position: sticky;
    top: 80px;
    background-color: #FFFFFF;
    border-bottom: 1px solid $neutral_1000;
    z-index: 10;

    // Mobile
    @media (max-width: $sm) {
      display: none;
    }

    .Date {
      text-align: left;
    }
  }

  .TimeInfoRow {
    align-items: center;
    height: 40px;
    position: sticky;
    top: 160px;
    border-top: 1px solid $neutral_1000;
    background-color: $neutral_300;
    z-index: 10;

    // Mobile
    @media (max-width: $sm) {
      top: 81px;
      margin: 0 -24px;
      border-bottom: 1px solid $neutral_1000;
    }

    .TimeInfoElements {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .ProgramRow {
    border-top: 1px solid $neutral_1000;
    align-items: center;
    min-height: 80px;
    cursor: pointer;

    // Mobile
    @media (max-width: $sm) {
      padding: 10px 0;
    }

    &.First {
      border-top: none;
    }

    &:hover {
      background-color: $neutral_100;
    }

    .Icon {
      display: flex;
      align-items: center;

      // Mobile
      @media (max-width: $sm) {
        text-align: right;
      }
    }

    .Date {
      text-align: left;
    }
  }

  .ProgramDetailButtons {
    margin-top: 24px;
    display: flex;
    gap: 24px;
  }
}