@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.Page {
  margin-top: $header-height-desktop + 48px;
  margin-right: calc(4 * $menu-width - 4px);
  min-height: calc(100vh - $header-height-desktop);
  margin-bottom: 48px;

  :global .container {
    padding: 0 84px;
  }

  .DropdownFiltersWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    height: 40px;

    .DropdownFilter {
      align-self: flex-start;
    }
  }

  .ProgramHeaderRow {
    align-items: center;
    height: 80px;

    .Date {
      text-align: left;
    }
  }

  .ProgramRow {
    border-top: 1px solid $neutral_1000;
    align-items: center;
    height: 80px;
    cursor: pointer;

    &:hover {
      background-color: $neutral_100;
    }

    .Icon {
      display: flex;
      align-items: center;
    }

    .Date {
      text-align: left;
    }
  }

  .ProgramDetailButtons {
    margin-top: 24px;
    display: flex;
    gap: 24px;
  }
}