@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.MenuPageWrapper {
  position: relative;
  display: flex;
  background-color: #FFF;
  overflow: auto;

  .SubmenuWrapper {
    flex: 1;
    border-right: 1px solid $neutral_1000;
    background-color: #FFFFFF;
    z-index: 2;

    .Submenu {
      padding: $menu-width;
    }
  }

  .SubmenuSecondLevel {
    flex: 1;
    position: relative;

    .BackgroundIcon {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
}