@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.FooterContainer {
  background-color: $neutral_1000;

  .FooterWrapper {
    display: flex;
    align-items: center;
    margin-right: calc(4 * $menu-width - 3px);
    min-height: 300px;

    // Tablet
    @media (max-width: $md) {
      margin-right: unset;
    }

    :global .container {
      padding: 0 84px;
    }

    .Logo {
      margin-left: -35px;
      margin-right: 35px;
    }

    .InfoWrapperLeft {
      display: flex;

      .Label {
        color: #FFFFFF;
        width: 110px;
      }

      .Info {
        flex: 1;
        color: $neutral_300;
      }
    }

    .InfoWrapperRight {
      display: flex;
      flex-direction: column;
      padding-left: 50px;

      .Label {
        color: #FFFFFF;
        width: 110px;
      }

      .Links {
        color: $neutral_300;

        ul {
          padding: 0;
          list-style: none;
          margin-bottom: 0;
        }
      }
    }

    .SocialIcons {
      display: flex;
      gap: 16px;
      padding-left: 50px;

      a {
        width: 16px;
        height: 16px;
        display: flex;
      }
    }

    .CEULogo {
      flex: 1;
      width: 170px;
      padding-left: 50px;
    }
  }
}