@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.Credo {
  position: relative;
  height: 400px;

  &.mustard {
    background-color: $mustard_1000;
  }

  &.orange {
    background-color: $orange_1000;
  }

  &.aqua {
    background-color: $aqua_1000;
  }

  &.sage {
    background-color: $sage_1000;
  }

  .Card {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    .Text {
      position: absolute;
      flex: 1;
      width: 50%;
      z-index: 2;

      // Mobile
      @media (max-width: $md) {
        width: 100%;
      }

      h1 {
        margin-bottom: 48px;
      }
    }

    .Logo {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }

  }
}