@import "@/styles/colors.scss";

.HeroWrapper {
  position: relative;
  width: 100%;
  height: 400px;
  border-bottom: 1px solid $neutral_1000;

  .TextWrapper {
    position: absolute;
    top: 0;
    height: 400px;
    width: 42%;
    display: flex;
    flex-direction: column;

    .TopRow {
      flex: 1;
      display: flex;
      align-items: center;
      color: $neutral_1000;
      line-height: 16px;
      z-index: 3;

      .Logo {
        width: 120px;

        img {
          filter: brightness(0%);
        }
      }

      .Date {
        flex: 1;
      }

      .Location {
        flex: 1
      }
    }

    .Title {
      display: flex;
      gap: 16px;
      flex-direction: column;
      color: $neutral_1000;
      flex: 2;
      z-index: 9;
      margin-top: 32px;
    }

    .SecondTitleRow {
      font-size: 32px;
      line-height: 16px;
    }

    .Subtitle {
      display: flex;
      flex: 1;
      color: $neutral_1000;
      z-index: 9;
    }
  }

  .PosterWrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    .Image {
      flex: 1;
    }
  }

  .Background {
    position: absolute;
    width: 56%;
    height: 100%;
    background-color: rgba($aqua_1000, 0.8);
    margin-right: -150px;
    clip-path: polygon(0% 0, 100% 0, 100% 0%, 85% 100%, 0 100%, 0 5%);
    z-index: 2;
  }

  .ButtonWrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 12px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: $neutral_100;
    z-index: 8;

    .Button {
      margin: 24px 0 24px;
    }
  }
}