@import "@/styles/colors.scss";

.HeroWrapper {
  position: relative;
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: 100% 350px;
  background-position: top right;
  // clip-path: polygon(22% 0, 100% 0, 100% 95%, 78% 100%, 0 100%, 0 5%);

  .TopRow {
    position: absolute;
    top: 0;
    padding: 48px 0;
    display: flex;
    width: 100%;
    color: $neutral_1000;
    line-height: 16px;
    z-index: 2;

    .Date {
      flex: 2;
    }

    .Location {
      flex: 3
    }
  }

  .PosterWrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .TitleRow {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

    .Title {
      color: $neutral_1000;
      flex: 2;
      z-index: 9;
    }
  }

  .Subtitle {
    color: $neutral_1000;
    padding-top: 24px;
    z-index: 9;
  }

  .BottomRow {
    position: absolute;
    bottom: 0;
    padding: 0 0 24px 24px;
    display: flex;
    width: 100%;
    color: $neutral_100;
    line-height: 16px;
    z-index: 2;
  }
}