.HeroControlWrapper {
  position: relative;

  .Controls {
    position: absolute;
    top: 24px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 24px;
    z-index: 10;
  }
}

