$white: #FFFFFF;

$mustard_1000: #DCCC7A;
$mustard_800: #E3D695;
$mustard_600: #EAE0AF;
$mustard_400: #F1EBCA;
$mustard_200: #F8F5E4;

$orange_1000: rgb(237, 130, 81);
$orange_800: #F19B74;
$orange_600: #F4B497;
$orange_400: #F8CDB9;
$orange_200: #FBE6DC;

$lilac_1000: #BFB2B7;
$lilac_800: #CCC1C5;
$lilac_600: #D9D1D4;
$lilac_400: #E5E0E2;
$lilac_200: #F2F0F1;

$aqua_1000: #8AB3B8;
$aqua_800: #A1C2C6;
$aqua_600: #B9D1D4;
$aqua_400: #D0E1E3;
$aqua_200: #E8F0F1;

$sage_1000: #B3C5B4;
$sage_800: #C2D1C3;
$sage_600: #D1DCD2;
$sage_400: #E1E8E1;
$sage_200: #F0F3F0;

$neutral_1000: #1C1C1C;
$neutral_900: #333333;
$neutral_800: #494949;
$neutral_700: #616161;
$neutral_600: #777777;
$neutral_500: #8D8D8D;
$neutral_400: #A4A4A4;
$neutral_300: #BBBBBB;
$neutral_200: #D2D2D2;
$neutral_100: #E9E9E9;

$error: #ED5151;