/* import bootstrap to set changes */
$grid-breakpoints: (
        xs: 0,
        sm: 768px,
        md: 1000px,
        lg: 1200px,
) !default;

@import "colors";

$grid-gutter-width: 24px;

$nav-link-color: $neutral_1000;
$nav-link-hover-color: $neutral_1000;

$nav-tabs-border-color: $neutral_1000;
$nav-tabs-link-active-border-color: $neutral_1000;
$nav-tabs-link-active-bg: $neutral_1000;
$nav-tabs-link-active-color: $neutral_100;

$nav-tabs-link-hover-border-color: $neutral_1000;

@import '~bootstrap/scss/bootstrap';

@import "globals";
@import "fonts";
@import "text";