.suisseIntlRegular {
  font-family: var(--font-suisseIntlRegular);
}

.suisseIntlBook {
  font-family: var(--font-suisseIntlBook);
}

.suisseIntlMedium {
  font-family: var(--font-suisseIntlMedium);
}

.suisseIntlSemiBold {
  font-family: var(--font-suisseIntlSemiBold);
}