/* Base styles */
.text-base {
  font-weight: 400;
  color: $neutral_1000;
  padding: unset;
  margin: unset;
}

.text-regular-base {
  font-family: var(--font-suisseIntlRegular);
  @extend .text-base;
}

.text-semibold-base {
  font-family: var(--font-suisseIntlSemiBold);
  @extend .text-base;
}

/* Text styles */
h1 {
  font-size: 56px;
  line-height: 120%;
  @extend .text-regular-base;

  // Tablet
  @media (max-width: $md) {
    font-size: 48px;
  }

  // Mobile
  @media (max-width: $sm) {
    font-size: 40px;
  }
}

h2 {
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 24px;
  @extend .text-regular-base;

  // Tablet
  @media (max-width: $md) {
    font-size: 32px;
    line-height: 100%;
  }

  // Mobile
  @media (max-width: $sm) {
    font-size: 24px;
    line-height: 100%;
  }
}

h3 {
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 24px;
  @extend .text-regular-base;
}

h4 {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 24px;
  @extend .text-regular-base;
}

.subtitle-large {
  font-size: 20px;
  line-height: 120%;
  @extend .text-semibold-base;
}

.subtitle-small {
  font-size: 16px;
  line-height: 150%;
  @extend .text-semibold-base;
}

.body-large {
  font-size: 20px;
  line-height: 150%;
  @extend .text-regular-base;
}

.body-normal {
  font-size: 16px;
  line-height: 150%;
  @extend .text-regular-base;
}

.button-regular {
  font-size: 16px;
  line-height: 150%;
  @extend .text-regular-base;
}

.button-semibold {
  font-size: 16px;
  line-height: 150%;
  @extend .text-semibold-base;
}

.tag {
  font-size: 12px;
  line-height: 24px;
  @extend .text-regular-base;
}

.hero-top-row {
  @extend .text-semibold-base;
  font-size: 16px;
  line-height: 16px;
}

.hero-title {
  @extend .text-semibold-base;
  font-size: 48px;
  line-height: 48px;
}

.hero-subtitle {
  @extend .text-semibold-base;
  font-size: 16px;
  line-height: 24px;
}

.menu-text {
  @extend .text-regular-base;
  font-size: 36px;
  line-height: 60px;

  // Tablet
  @media (max-width: $md) {
    font-size: 32px;
    line-height: 56px
  }

  // Mobile
  @media (max-width: $sm) {
    font-size: 24px;
    line-height: 40px;
  }
}

.breadcrumb {
  font-size: 16px;
  line-height: 100%;
  @extend .text-semibold-base;
}