$line-color: #000;

$page-padding: 84px;
$header-height-desktop: 80px;
$menu-width: 56px;
$menu-content-width: 100vw;
$submenu-height: 50px;

// Mobile
$xs: 0;
// Tablet
$sm: 700px;
// Desktop
$md: 1200px;
