$line-color: #000;

$page-padding: 84px;
$header-height-desktop: 80px;
$menu-width: 56px;
$menu-content-width: 100vw;
$submenu-height: 50px;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 1000px;
$xl: 1200px;
