$about-color: #DCCC7A;
$collections-color: #ED8251;
$academics-color: #BFB2B7;
$public-programs-color: #B3C5B4;

$line-color: #000;

$header-height-desktop: 81px;
$menu-width: 56px;
$submenu-height: 50px;