@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.ContentWrapper {
  h3 {
    margin-bottom: 24px;
  }

  p {
    strong {
      font-family: var(--font-suisseIntlSemiBold);
    }
  }

  br {
    display: none;
  }

  blockquote {
    position: relative;
    margin: 48px 0;
    font-size: 18px;
    padding-left: 50px;

    &:before {
      position: absolute;
      height: 100%;
      width: 10px;
      top: 0;
      left: 0;
      content: "";
    }
  }

  a {
    position: relative;
    text-decoration: none;
    padding: 2px 4px;
    margin: -2px -4px;
    white-space: pre;

    &::before {
      content: "";
      inset: 0;
      position: absolute;
      transform: scaleY(0.1);
      transform-origin: bottom;
      transition: transform 0.2s ease-in-out;
      z-index: -1;
    }

    &:hover::before {
      transform: scaleY(1);
      transform-origin: bottom;
    }

    // Mobile
    @media (max-width: $sm) {
      padding: 0 4px;
      margin: 0;
      border-radius: 2px;
      white-space: unset;

      &::before {
        content: unset;
      }
    }
  }

  &.mustard {
    blockquote::before, a::before {
      background: $mustard_1000;
    }

    // Mobile
    @media (max-width: $sm) {
      a {
        background: $mustard_1000;
      }
    }
  }

  &.orange {
    blockquote::before, a::before {
      background: $orange_1000;
    }

    // Mobile
    @media (max-width: $sm) {
      a {
        background: $orange_1000;
      }
    }
  }

  &.sage {
    blockquote::before, a::before {
      background: $sage_1000;
    }

    // Mobile
    @media (max-width: $sm) {
      a {
        background: $sage_1000;
      }
    }
  }

  &.aqua {
    blockquote::before, a::before {
      background: $aqua_1000;
    }

    // Mobile
    @media (max-width: $sm) {
      a {
        background: $aqua_1000;
      }
    }
  }
}