@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.PanelWrapper {
  position: relative;
  height: 400px;

  // Mobile
  @media (max-width: $sm) {
    height: 500px;
  }

  img {
    object-fit: cover;
    filter: grayscale(1);
  }

  .Overlay {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 2;

    .Left {
      display: flex;
      flex-direction: column;
    }

    h1 {
      color: #FFFFFF;
      margin-bottom: 16px;
    }

    .CatalogText {
      display: flex;
      align-items: center;
      min-height: 200px;
      padding: 24px;
      margin-left: 24px;
      color: #FFFFFF;
      background-color: rgba($neutral_1000, 0.9);
      clip-path: polygon(10% 0, 100% 0, 100% 95%, 90% 100%, 0 100%, 0 5%);
    }
  }
}