@import "@/styles/variables.scss";

.PanelWrapper {
  position: relative;
  height: 400px;

  img {
    object-fit: cover;
  }

  .Overlay {
    position: absolute;
    width: 100%;
    top: 120px;

    h1 {
      color: #FFFFFF;
      margin-bottom: 40px;
    }
  }
}