@import "@/styles/colors.scss";

.Panel {
  position: relative;
  height: 600px;
  margin: 0 -84px;

  .Card {
    display: flex;
    padding-left: 84px;
    align-items: center;
    height: 100%;
    background-color: $mustard_1000;

    .Text {
      flex: 1;

      h1 {
        margin-bottom: 48px;
      }
    }

    .Logo {
      display: flex;
      flex: 1;
    }

  }
}