@import "@/styles/colors.scss";

.Panel {
  position: relative;
  height: 400px;
  background-color: $mustard_1000;

  .Card {
    display: flex;
    align-items: center;
    height: 100%;

    .Text {
      flex: 1;

      h1 {
        margin-bottom: 48px;
      }
    }

    .Logo {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }

  }
}