@import "@/styles/colors.scss";

.PartnersPanel {
  display: flex;
  position: relative;
  height: 400px;
  // margin: 0 -84px;

  .Left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $sage_1000;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    margin-right: -30px;

    img {
      margin-left: -100px;
    }
  }

  .Right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
    background-color: $sage_1000;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);

    img {
      margin-right: -100px;
    }
  }
}