@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.PartnersRow {
  // Mobile
  @media (max-width: $sm) {
    --bs-gutter-y: 24px;
  }
}

.Panel {
  display: flex;
  flex-direction: column;
  background-color: $neutral_1000;
  min-height: 280px;
  padding: 10% 20% 20% 5%;

  h1 {
    font-size: 40px;
    line-height: 40px;
    color: $neutral_100;
  }

  &.Left {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 7%);
  }

  &.Right {
    clip-path: polygon(100% 0, 100% 0, 100% 93%, 80% 100%, 0 100%, 0 0%);
  }

  .Row {
    flex: 1;
    display: flex;
    align-items: center;

    // Mobile
    @media (max-width: $md) {
      gap: 24px;
      flex-direction: column;
    }

    .Logo {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

