@import "@/styles/colors.scss";

.AnnualReportWrapper {
  border-top: 1px solid $neutral_1000;
  padding-top: 32px;
  padding-bottom: 32px;

  .HeaderRow {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .Year {
      font-size: 40px;
      line-height: 40px;
    }

    .Button {

    }
  }
}