@import "@/styles/colors.scss";

.Wrapper {
  display: flex;
  flex-direction: column;
  height: 600px;
  border: 1px solid $neutral_1000;
  padding: 24px 16px;

  .Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .Icons {
      display: flex;
    }

    .ItemNumber {
      color: $neutral-500;
    }
  }

  .Title {
    margin-bottom: 8px;
    height: 80px;
  }

  .Image {
    margin-bottom: 16px;
  }

  .Description {
    flex: 1;
    overflow: hidden;
    color: $neutral-500;
  }
}