@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.Wrapper {
  display: flex;
  flex-direction: column;
  height: 440px;
  cursor: pointer;
  margin-bottom: 24px;

  // Mobile
  @media (max-width: $sm) {
    height: unset;
  }

  .Tag {
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .Title {
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 120%;
  }

  .Image {
    margin-bottom: 16px;
    position: relative;

    .UnderLayer {
      clip-path: polygon(22% 0, 100% 0, 100% 95%, 78% 100%, 0 100%, 0 5%);
      position: absolute;
      background-color: #8AB3B8;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      &.mustard {
        background-color: $mustard_1000;

        img {
          filter: brightness(0%);
        }
      }

      &.orange {
        background-color: $orange_1000;

        img {
          filter: brightness(0%);
        }
      }

      &.aqua {
        background-color: $aqua_1000;

        img {
          filter: brightness(0%);
        }
      }

      &.sage {
        background-color: $sage_1000;

        img {
          filter: brightness(0%);
        }
      }
    }

    img {
      transition: filter 0.5s;
    }
  }

  .Description {
    flex: 1;
    overflow: hidden;
  }
}