@import "@/styles/colors.scss";

.Wrapper {
  display: flex;
  flex-direction: column;
  height: 440px;
  cursor: pointer;

  .Tag {
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Title {
    margin-bottom: 8px
  }

  .Image {
    margin-bottom: 16px;
    position: relative;

    img {
      transition: filter 0.5s;
    }
  }

  .Description {
    flex: 1;
    overflow: hidden;
    // margin-bottom: 16px
  }
}