@import "@/styles/colors.scss";

.Wrapper {
  display: flex;
  flex-direction: column;
  height: 440px;

  .Header {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    justify-content: space-between;

    .Icon {
      display: flex;
    }

    .Date {
      color: $neutral-500
    }
  }

  .Title {
    margin-bottom: 8px
  }

  .Image {
    margin-bottom: 24px;

    & img {
      // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      // filter: grayscale(100%);
    }
  }

  .Description {
    flex: 1;
    overflow: hidden;
    color: $neutral-500;
    margin-bottom: 16px
  }
}