@import "@/styles/colors.scss";

.Wrapper {
  display: flex;
  flex-direction: column;
  max-height: 450px;

  .Header {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    justify-content: space-between;

    .EventType {
      display: flex;
    }

    .Date {
      color: $neutral-500
    }
  }

  .Title {
    margin-bottom: 8px
  }

  .Image {
    position: relative;
    margin-bottom: 24px;

    .Icon {
      position: absolute;
      bottom: 0;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.neutral {
        color: #FFFFFF;
        background-color: $neutral_1000;
      }

      &.mustard {
        background-color: $mustard_1000;

        img {
          filter: brightness(0%);
        }
      }

      &.orange {
        background-color: $orange_1000;

        img {
          filter: brightness(0%);
        }
      }

      &.aqua {
        background-color: $aqua_1000;

        img {
          filter: brightness(0%);
        }
      }

      &.sage {
        background-color: $sage_1000;

        img {
          filter: brightness(0%);
        }
      }
    }


  }

  .Description {
    flex: 1;
    overflow: hidden;
    color: $neutral-500;
    margin-bottom: 16px
  }
}