@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.Wrapper {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  cursor: pointer;
  margin-bottom: 24px;

  // Mobile
  @media (max-width: $sm) {
    max-height: unset;
  }

  .Header {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    justify-content: space-between;

    .EventType {
      display: flex;
    }

    .Date {
      color: $neutral-500
    }
  }

  .Title {
    margin-bottom: 8px;
  }

  .Image {
    position: relative;
    margin-bottom: 24px;

    .UnderLayer {
      clip-path: polygon(22% 0, 100% 0, 100% 95%, 78% 100%, 0 100%, 0 5%);
      position: absolute;
      background-color: #8AB3B8;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      &.mustard {
        background-color: $mustard_1000;

        img {
          filter: brightness(0%);
        }
      }

      &.orange {
        background-color: $orange_1000;

        img {
          filter: brightness(0%);
        }
      }

      &.aqua {
        background-color: $aqua_1000;

        img {
          filter: brightness(0%);
        }
      }

      &.sage {
        background-color: $sage_1000;

        img {
          filter: brightness(0%);
        }
      }
    }

    img {
      transition: filter 0.5s;
    }

    .Icon {
      position: absolute;
      bottom: 0;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;

      &.neutral {
        color: #FFFFFF;
        background-color: $neutral_1000;
      }

      &.mustard {
        background-color: $mustard_1000;

        img {
          filter: brightness(0%);
        }
      }

      &.orange {
        background-color: $orange_1000;

        img {
          filter: brightness(0%);
        }
      }

      &.aqua {
        background-color: $aqua_1000;

        img {
          filter: brightness(0%);
        }
      }

      &.sage {
        background-color: $sage_1000;

        img {
          filter: brightness(0%);
        }
      }
    }


  }

  .Description {
    flex: 1;
    overflow: hidden;
    color: $neutral-500;
    // margin-bottom: 16px
  }
}