@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.Wrapper {
  display: flex;
  flex-direction: column;
  height: 600px;
  border-bottom: 1px solid $neutral_1000;
  padding-top: 32px;
  margin-bottom: 24px;

  // Mobile
  @media (max-width: $sm) {
    height: unset;
    margin-bottom: 24px;
  }

  .Title {
    margin-top: 16px;
  }

  .Description {
    flex: 1;
    margin: 16px 0;
    color: $neutral_800;
    overflow: hidden;
  }

  .Footer {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 24px;

    .Button {
      flex: 1;
    }

    .Warning {
      flex: 1;
      font-size: 12px;
      color: $neutral_600;
      line-height: 16px;
    }
  }
}