.ListWrapper {
  margin: 18px 0;

  :global .row {
    --bs-gutter-x: 24px !important;
  }

  p {
    font-size: 18px;
    margin-bottom: 0;
  }

  a {

  }
}

.Entry {
  .EntryInfoWrapper {
    display: flex;
    flex-direction: column;

    .Description {
      flex: 1;
      padding: 24px 0;
    }

    .Icon {
      display: flex;
      gap: 4px;
    }
  }
}