@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.FooterWrapper {
  padding-top: 84px;
  padding-right: calc(4 * $menu-width - 3px);
  background-color: $neutral_1000;
  min-height: 300px;

  .InfoWrapperLeft {
    display: flex;

    .Label {
      color: #FFFFFF;
      width: 110px;
    }

    .Info {
      flex: 1;
      color: $neutral_300;
    }
  }

  .InfoWrapperRight {
    display: flex;
    flex-direction: column;
    padding-left: 50px;

    .Label {
      color: #FFFFFF;
      width: 110px;
    }

    .Links {
      color: $neutral_300;

      ul {
        list-style: none;
      }
    }
  }

  .SocialIcons {
    display: flex;
    gap: 16px;
    padding-left: 50px;

    a {
      width: 16px;
      height: 16px;
      display: flex;
    }
  }
}