@import "@/styles/colors.scss";

.HeaderWrapper {
  height: 80px;
  padding: 16px 84px;
  border-bottom: 1px solid $neutral_1000;

  .Logo {
    align-self: center;
    display: flex;
    align-items: center;
  }

  .LanguageSelector {
    align-self: center;
  }
}