@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.HeaderWrapper {
  display: flex;
  align-items: center;
  height: $header-height-desktop;
  padding: 0 84px;
  background-color: #FFF;

  .Logo {
    align-self: center;
    display: flex;
    align-items: center;
  }

  .LanguageSelector {
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }
}