@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.HeaderWrapper {
  display: flex;
  align-items: center;
  height: $header-height-desktop;
  margin-right: calc(4 * $menu-width - 3px);
  background-color: #FFF;

  :global .container {
    padding: 0 84px;
  }

  .Logo {
    align-self: center;
    display: flex;
    align-items: center;
    margin-left: -35px;
    margin-right: 35px;
  }

  .LanguageSelector {
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }
}