@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.Page {
  margin-top: $header-height-desktop + 10px;
  margin-right: calc(4 * $menu-width - 3px);
  min-height: calc(100vh - $header-height-desktop);

  :global .container {
    padding: 0 84px;
  }
}

.Menu {
  position: fixed;
  right: 0;
  top: $header-height-desktop;
}

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $neutral_1000;
  background-color: #FFF;
  z-index: 10;
}