@import "@/styles/colors.scss";
@import "@/styles/variables.scss";


.Menu {
  position: fixed;
  right: 0;
  top: calc($header-height-desktop + 1px);
  z-index: 999;
}

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $neutral_1000;
  background-color: #FFF;
  z-index: 10;
}