@import "@/styles/variables.scss";

.PageWithMenuClosed {
  margin-top: $header-height-desktop + 48px;
  margin-right: calc(4 * $menu-width - 3px);
  min-height: calc(100vh - $header-height-desktop);

  :global .container {
    padding: 0 84px;
  }
}

.PageWithMenuOpen {
  margin-top: $header-height-desktop + $submenu-height + 48px;
  margin-right: calc(4 * $menu-width - 3px);
  min-height: calc(100vh - $header-height-desktop);

  :global .container {
    padding: 0 84px;
  }
}