@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.Wrapper {
  // Search
  :global .ais-Hits {
    ol {
      margin-top: 24px;
    }
  }

  :global ul, :global ol {
    margin-bottom: 0;
  }

  // Facets
  :global .ais-RefinementList {
    ul {
      margin-top: 24px;
      list-style: none;
      padding-left: unset;
    }

    :global .ais-RefinementList-item {
      font-size: 16px;
      margin-bottom: 2px;

      :global .ais-RefinementList-label {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        :global .ais-RefinementList-checkbox {
          appearance: none;
          background-color: $neutral_100;
          border: 1px solid $neutral_300;
          border-radius: 0;
          width: 16px;
          height: 16px;
          cursor: pointer;

          &:focus {
            background-color: $neutral_100;
            border: 1px solid $neutral_300;
            box-shadow: unset;
          }

          &:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
            background-color: $neutral_1000;
            border: unset;
          }

          :global .form-check-label {
            line-height: 20px;
          }
        }
      }
    }
  }

  // Hits
  :global .ais-Hits-list {
    list-style: none;
    padding: 0;
  }

  .FiltersWrapper {
    position: sticky;
    top: 128px;
  }
}