@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.Page {
  // Mobile
  @media (max-width: $md) {
    margin-right: 0;

    :global .row {
      --bs-gutter-x: 24px !important;
    }

    :global .container {
      padding: 0 24px !important;
    }
  }

  margin-top: $header-height-desktop;
  margin-right: calc(4 * $menu-width - 4px);
  min-height: calc(100vh - $header-height-desktop);

  :global .container {
    padding: 0 84px;
  }

  :global .row {
    --bs-gutter-x: 96px;
  }

  :global p {
    font-size: 18px;
    line-height: 26px;
  }

  .ImageWrapper {
    position: sticky;
    top: 128px;

    .Caption {
      margin-top: 8px;
      color: $neutral_800;
      font-size: 12px;
    }
  }
}
