@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.Container {
  align-items: center !important;
  background-color: rgba($neutral_100, 0.9) !important;
  border-top: 1px $neutral_1000 solid;
  color: $neutral_1000 !important;
  padding: 0 48px !important;
  width: calc(100% - (4 * $menu-width - 4px)) !important;
  z-index: 1000 !important;
  font-size: 16px !important;

  @media (max-width: $md) {
    width: 100% !important;
  }

  @media (max-width: $sm) {
    padding-bottom: 16px !important;
    justify-content: center !important;
  }

  .ConsentText {
    @media (max-width: $sm) {
      text-align: center;
    }

    a {
      position: relative;
      text-decoration: none;
      padding: 2px 4px;
      margin: -2px -4px;
      white-space: pre;

      &::before {
        content: "";
        inset: 0;
        position: absolute;
        transform: scaleY(0.1);
        transform-origin: bottom;
        transition: transform 0.2s ease-in-out;
        z-index: -1;
        background: $neutral_1000
      }

      // Mobile
      @media (max-width: $sm) {
        text-decoration: underline;
        text-decoration-thickness: 4px;
        text-underline-offset: 4px;
        white-space: normal;

        &::before {
          content: unset;
        }
      }
    }
  }

  .ButtonWrapper {
    display: flex;
    gap: 8px;
    margin: 10px 0;

    @media (max-width: $sm) {
      margin: 0;
    }
  }

  .Button {
    display: flex;
    align-items: center;
    padding: 0 24px !important;
    margin: 0 !important;
    height: 40px;
    line-height: 40px;
  }

  .AcceptButton {
    @extend .Button;
    color: $white !important;
    background-color: $neutral_1000 !important;
  }

  .DeclineButton {
    @extend .Button;
    color: $neutral_1000 !important;
    background-color: $white !important;
    border: 1px solid $neutral_1000 !important;
  }
}
