@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.MenuItem {
  position: relative;
  width: 100%;

  .MenuHeader {
    height: $menu-width;
    border-bottom: 1px solid $neutral_1000;
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding: 0 58px;

    &.mustard {
      background-color: $mustard_1000;

      &:hover {
        background-color: $mustard_600;
      }
    }

    &.orange {
      background-color: $orange_1000;

      &:hover {
        background-color: $orange_600;
      }
    }

    &.aqua {
      background-color: $aqua_1000;

      &:hover {
        background-color: $aqua_600;
      }
    }

    &.sage {
      background-color: $sage_1000;

      &:hover {
        background-color: $sage_600;
      }
    }

    .MenuTitle {
      font-size: 24px;
    }

    .MenuIcon {
      display: flex;
      align-items: center;
    }
  }

  .MenuPage {
    height: calc(100vh - (4 * $menu-width + 80px));
    background-color: #FFF;
    border-bottom: 1px solid $neutral_1000;
    overflow: scroll;
  }
}