@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.PDFWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 630px;
  min-height: 800px;

  .Document {
    padding: 16px;
    background-color: $neutral_100;
    clip-path: polygon(42% 0, 100% 0, 100% 95%, 58% 100%, 0 100%, 0 5%);
  }

  .PageControls {
    position: absolute;
    bottom: 5%;
    left: 50%;
    background: white;
    opacity: 0;
    transform: translate(-50%);
    transition: opacity ease-in-out .2s;
    box-shadow: 0 30px 40px 0 rgba(16, 36, 94, .2);
    border-radius: 4px;
    z-index: 2;

    span {
      font: inherit;
      font-size: .8em;
      padding: 0 .5em
    }

    button {
      width: 44px;
      height: 44px;
      background: white;
      border: 0;
      font: inherit;
      font-size: .8em;
      border-radius: 4px;

      &:enabled:hover {
        background-color: #e6e6e6;
        cursor: pointer
      }

      &:enabled:focus {
        background-color: #e6e6e6
      }

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
      }
    }
  }
}