.DesktopWrapper {
  display: flex;

  .Content {
    width: calc(100vw - 200px);

    .Page {
      padding: 20px;
    }
  }

  .Menu {
    position: fixed;
    right: 0;
  }
}

.MobileWrapper {
  display: flex;

  .Content {
    width: 100vw;

    .Page {
      padding: 20px;
    }
  }

  .Menu {
    position: fixed;
    bottom: 0;
  }
}