@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.Wrapper {
  margin-top: $header-height-desktop;
  margin-right: calc((4 * $menu-width) - 4px);
  border-bottom: 1px solid $neutral_1000;
  margin-bottom: 48px;

  .Header {
    display: flex;
    height: 250px;

    .Color {
      flex: 2;
      clip-path: polygon(0% 0, 100% 0, 100% 0%, 90% 100%, 0 100%, 0 10%);
      margin-right: -10%;
      z-index: 1;
      background-color: #FFFFFF;

      &.mustard {
        background-color: $mustard_1000;
      }

      &.orange {
        background-color: $orange_1000;
      }

      &.aqua {
        background-color: $aqua_1000;
      }

      &.sage {
        background-color: $sage_1000;
      }
    }

    .Image {
      flex: 1;
    }
  }

  .HeaderContent {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    z-index: 3;
  }
}