@import "@/styles/variables.scss";

.SearchBar {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;

  .Button {
    display: flex;
    align-items: center;
  }

  input {
    border: unset;
    height: calc($header-height-desktop / 3);
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }
}