@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.SearchPageWrapper {
  display: flex;
  position: relative;
  height: 100%;

  .SearchBox {
    position: relative;
    display: flex;
    height: calc(70% - $header-height-desktop);
    align-items: center;
    width: 80%;
    margin: 0 auto;
    z-index: 2;
  }

  .WebsiteSearch {
    position: relative;
    flex: 1;
    background-color: $white;
    height: 100%;
    z-index: 2;
    border-right: 1px solid $neutral_1000;

    img {
      object-fit: cover;
      filter: grayscale(100%)
    }
  }

  .CatalogSearch {
    position: relative;
    flex: 1;
    background-color: $white;
    z-index: 1;

    img {
      object-fit: cover;
      filter: grayscale(100%)
    }
  }

  .CloseButton {
    top: 24px;
    right: 24px;
    position: absolute;
    z-index: 2;
  }
}