@import "@/styles/colors.scss";

.Search {
  display: flex;
  justify-content: right;
  height: 100%;
  cursor: pointer;
}

.SearchScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: $white;
  z-index: 100;
}