@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.Search {
  display: flex;
  justify-content: right;
  height: 100%;
  cursor: pointer;
}

.SearchScreen {
  position: fixed;
  width: calc(100% - calc(4 * $menu-width - 4px));
  height: 100%;
  right: calc(4 * $menu-width - 4px);
  top: $header-height-desktop + 1px;

  // Mobile
  @media (max-width: $md) {
    width: 100%;
    right: 0;
  }
}