@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.BackgroundIcon {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.SubmenuWrapper {
  width: calc(100% - (3 * $menu-width));
  padding: 56px 56px 56px 0;
  margin-top: 10px;

  .Submenu {
    position: relative;

    .SubmenuItem {
      padding: 16px;
      margin-bottom: 8px;
      transition: background-color 200ms ease-in-out;
      clip-path: polygon(15% 0, 100% 0, 100% 95%, 85% 100%, 0 100%, 0 8%);

      &:hover {
        background-color: $neutral_100;
      }

      &.Current {
        background-color: $neutral_100;
      }

      .Title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 8px;
      }

      .Description {
        color: $neutral_600;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}