.Authors {
  display: flex;
  gap: 24px;
  align-items: flex-end;
  justify-content: flex-end;

  .AuthorBadge {
    display: flex;
    align-items: center;
    gap: 16px;

    .Image {
      width: 50px
    }

    .Name {
      flex: 1;
    }
  }
}