@import "@/styles/variables.scss";
@import "@/styles/colors.scss";

.Page {
  margin-right: calc(4 * $menu-width - 4px);
  min-height: calc(100vh - $header-height-desktop);

  :global .container {
    padding: 0 84px;
  }

  :global .row {
    --bs-gutter-x: 96px;
  }
}
